.mainWrapper {
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid black;
    min-height: 60%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.textContainer {
    width: 300px;
    background-color: #8da4ab;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    white-space: normal;
    word-break: break-all;
}

.avatarContainer {
    background-color: #8da4ab;
    height: 500px;
    width: 400px;
}