.main {
    background-color: #5b43d6;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 500px) {
    .navMenu {
        margin-right: 1%;
    }
}

.navMenu {
    width: 400px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-right: 15%;
}

.navMenu a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    transition: .5s;
    font-weight: 600;
}

.navMenu a:hover {
    color: gold;
}

html{scroll-behavior:smooth}


